* {
  font-size: 14px;
  font-family: "Azeret Mono", monospace;
  font-weight: 200;
}

body {
  margin: 0;
}

#containerButton {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 36px 36px 18px 36px;
  overflow: hidden;
  overflow-x: scroll;
}

#containerGrid {
  margin-bottom: 36px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  p {
    margin: 0;
  }
  button {
    border: 1.5px solid black;
    border-radius: 50px;
    padding: 4px 8px;
    &:hover {
      background-color: grey;
      cursor: pointer;
    }
  }
}

.bouton {
  background-color: white;
  padding: 8px 16px;
  font-size: 24px;
  border-radius: 40px;
  color: black;
}
.bouton:hover {
  background-color: grey;
  cursor: pointer;
}

.tagActif {
  background-color: black;
  color: white;
}
.gridActif {
  background-color: black;
  color: white;
}

#containerCover {
  margin: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  .cardCover {
    div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      margin-top: 8px;
      margin-bottom: 8px;
      h2,
      p {
        margin: 0;
      }
    }
  }
  h2 {
    font-weight: 500;
  }
  p {
    margin-top: 0;
    margin-bottom: 4px;
  }
}

.grid2 {
  width: 45%;
}
.grid3 {
  width: 30%;
}
.grid4 {
  width: 20%;
}
.grid5 {
  width: 16%;
}

.cardCover {
  img {
    box-shadow: 0px 0px 20px rgba(200, 200, 200, 0.5);
    width: 100%;
  }
  button {
    border-radius: 20px;
    border: 0px;
    background-color: #ececec;
  }
}

a {
  color: black;
}